body,
html {
  height: 100%;
}

h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #21455f;
}

/*=============
    HEADER  
=============*/

header {
  background-image: url("/FinalFiles/Assets/Backgounds/BG.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 8%;
  width: 43%;

  &__join-this {
    color: #ffffff;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__title {
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 400%;
    line-height: 118%;
    letter-spacing: -0.015em;
    text-transform: capitalize;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  &__span {
    flex-direction: column;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 120%;
    line-height: 178%;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.7;
  }

  &__button {
    background: #ffffff;
    border-radius: 4px;
    padding: 10px 28px;
    color: #002c89;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    line-height: 32px;
    margin-top: 12%;
    width: 30%;
  }

  &__img {
    height: 90%;
    margin-top: 3%;
  }
}

.masterclass-container {
  display: flex;
  padding-bottom: 10%;

  &__left {
    width: 43%;
    margin-top: 5%;
    margin-left: 7%;
    padding-right: 5%;
    border-right: solid 3px #e1e1e1;

    &__text {
      margin-top: 5%;
      width: 70%;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 100%;
      line-height: 178%;
      letter-spacing: 0.02em;
      color: #32363e;
      opacity: 0.7;
    }

    &__icon-container {
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__item {
        display: flex;

        width: 14vw;
        margin: 3vh 3vh 3vh 0;

        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 100%;
        line-height: 142%;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        align-items: center;

        & span {
          margin-left: 5%;
        }
      }
    }
  }

  &__right {
    margin-right: 10%;
    width: 50%;

    &__text {
      margin-left: 15%;
      margin-top: 25%;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 105%;
      line-height: 157.5%;
      letter-spacing: -0.015em;
      color: #292d32;
    }

    &__accomodation-check {
      margin-left: 15%;
      display: flex;
      margin-top: 5%;

      &__green-check {
        height: 1.5vw;
        margin-top: auto;
        margin-bottom: auto;
      }

      &__span {
        margin-left: 2%;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 110%;
        line-height: 157.5%;
        letter-spacing: -0.015em;
        color: #32363e;
      }
    }

    &__button {
      margin-left: 15%;
      margin-top: 10%;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 178%;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #002c89;
      padding: 10px 28px;
      border-radius: 4px;
    }
  }
}

.become-container {
  background-color: #66daf92b;
  display: flex;
  flex-direction: row;

  &__description {
    margin-left: 7%;
    width: 43%;

    &__title {
      margin-top: 12%;
      margin-bottom: 4%;
    }

    &__rule {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 157.5%;
      letter-spacing: -0.015em;
      color: #000000;
    }

    &__text {
      margin-top: 3%;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 167%;
      letter-spacing: 0.02em;
      color: #000000;

      opacity: 0.7;
    }
  }

  &__img {
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
  }
}

.bootcamp-container {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;

  &__description {
    margin-left: 15%;
    margin-right: 10%;

    &__title {
      margin-right: 10%;
      margin-bottom: 5%;
    }

    &__item {
      display: flex;
      flex-direction: row;

      &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 100%;
        line-height: 156%;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        margin: 2% 3%;
      }
    }
  }
}

.opt-react-course {
  background-color: #f9f9f9;
  padding: 5% 20%;

  &__title {
    margin-bottom: 2%;
  }

  &__description {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.7;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      flex-direction: row;

      &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        margin: 3% 2%;
      }
    }
  }
}

.breakthrough {
  background-color: #002c89;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 7%;

  &__title {
    color: #ffffff;
    padding-top: 7%;
    padding-bottom: 5%;
  }

  &__description {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.8;
    padding-bottom: 5%;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    &__item {
      display: flex;
      padding: 2% 0;

      &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 139%;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-left: 2%;
        margin-right: 10%;
      }
    }
  }

  &__footer {
    padding-left: 5%;
    padding-right: 10%;
    background-color: #00094c;
    padding-top: 3%;

    &__text {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 136%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
      padding-bottom: 3%;
    }
  }
}
