body,
html {
  height: 100%;
}

h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #21455f;
}

/*=============
    HEADER  
=============*/

header {
  background-image: url("/FinalFiles/Assets/Backgounds/BG.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

/*===========
    MAIN  
===========*/

.main {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 8%;
  width: 43%;

  &__join-this {
    color: #ffffff;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  &__title {
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 400%;
    line-height: 118%;
    letter-spacing: -0.015em;
    text-transform: capitalize;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  &__span {
    flex-direction: column;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 120%;
    line-height: 178%;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.7;
  }

  &__button {
    background: #ffffff;
    border-radius: 4px;
    padding: 10px 28px;
    color: #002c89;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    line-height: 32px;
    margin-top: 12%;
    width: 30%;
  }

  &__img {
    height: 90%;
    margin-top: 3%;
  }
}

.masterclass-container {
  display: flex;
  padding-bottom: 10%;

  &__left {
    width: 43%;
    margin-top: 5%;
    margin-left: 7%;
    padding-right: 5%;
    border-right: solid 3px #e1e1e1;

    &__text {
      margin-top: 5%;
      width: 70%;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 100%;
      line-height: 178%;
      letter-spacing: 0.02em;
      color: #32363e;
      opacity: 0.7;
    }

    &__icon-container {
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__item {
        display: flex;

        width: 14vw;
        margin: 3vh 3vh 3vh 0;

        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 100%;
        line-height: 142%;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        align-items: center;

        & span {
          margin-left: 5%;
        }
      }
    }
  }

  &__right {
    margin-right: 10%;
    width: 50%;

    &__text {
      margin-left: 15%;
      margin-top: 25%;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 105%;
      line-height: 157.5%;
      letter-spacing: -0.015em;
      color: #292d32;
    }

    &__accomodation-check {
      margin-left: 15%;
      display: flex;
      margin-top: 5%;

      &__green-check {
        height: 1.5vw;
        margin-top: auto;
        margin-bottom: auto;
      }

      &__span {
        margin-left: 2%;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 110%;
        line-height: 157.5%;
        letter-spacing: -0.015em;
        color: #32363e;
      }
    }

    &__button {
      margin-left: 15%;
      margin-top: 10%;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 178%;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #002c89;
      padding: 10px 28px;
      border-radius: 4px;
    }
  }
}

.become-container {
  background-color: #66daf92b;
  display: flex;
  flex-direction: row;

  &__description {
    margin-left: 7%;
    width: 43%;

    &__title {
      margin-top: 12%;
      margin-bottom: 4%;
    }

    &__rule {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 157.5%;
      letter-spacing: -0.015em;
      color: #000000;
    }

    &__text {
      margin-top: 3%;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 167%;
      letter-spacing: 0.02em;
      color: #000000;

      opacity: 0.7;
    }
  }

  &__img {
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
  }
}

.bootcamp-container {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;

  &__description {
    margin-left: 15%;
    margin-right: 10%;

    &__title {
      margin-right: 10%;
      margin-bottom: 5%;
    }

    &__item {
      display: flex;
      flex-direction: row;

      &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 100%;
        line-height: 156%;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        margin: 2% 3%;
      }
    }
  }
}

.opt-react-course {
  background-color: #f9f9f9;
  padding: 5% 20%;

  &__title {
    margin-bottom: 2%;
  }

  &__description {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.7;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      flex-direction: row;

      &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        margin: 3% 2%;
      }
    }
  }
}

.breakthrough {
  background-color: #002c89;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 7%;

  &__title {
    color: #ffffff;
    padding-top: 7%;
    padding-bottom: 5%;
  }

  &__description {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.8;
    padding-bottom: 5%;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    &__item {
      display: flex;
      padding: 2% 0;

      &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 139%;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-left: 2%;
        margin-right: 10%;
      }
    }
  }

  &__footer {
    padding-left: 5%;
    padding-right: 10%;
    background-color: #00094c;
    padding-top: 3%;

    &__text {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 136%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
      padding-bottom: 3%;
    }
  }
}

.course-details {
  text-align: center;

  &__title {
    margin-top: 7%;
    margin-bottom: 4%;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

    &__item {
      display: flex;
      flex-direction: column;
      border: 2px solid #002c89;
      border-radius: 12px;
      width: 25%;
      text-align: center;

      &__text {
        margin-top: 10%;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 107%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #002c89;
        opacity: 0.7;
      }

      &__span {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        padding-bottom: 7%;
      }
    }
  }

  &__price {
    justify-content: center;
    background: #ffc702;
    border-radius: 113px;
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 44%;
    margin-right: 44%;

    &__text {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 140%;
      text-align: center;
      color: #ffffff;
    }
  }

  &__signUp-text {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #21455f;

    margin: 0 20% 3% 20%;
  }

  &__btn {
    background: #002c89;
    border-radius: 4px;
    width: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 7%;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.requirements {
  background-color: #66daf92b;
  text-align: center;

  &__title {
    padding-top: 7%;
    padding-bottom: 3%;
  }

  &__container {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;

    &__left {
      flex-grow: 1; /* WEET NIET GOED WAAROM MIJN FLEX-GROW NIET WERKT*/
      padding: 3% 2%;
      width: 60%;
      background: #002c89;
      border-radius: 8px 0px 0px 8px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 188%;
      letter-spacing: 0.02em;
      color: #ffffff;
    }

    &__right {
      flex-grow: 2; /* HIER OOK NIET*/
      background: #0062ab;
      border-radius: 0px 8px 8px 0px;
      padding: 4% 2%;
      text-align: left;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 167%;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
  }
}

.exquisite {
  background-color: #66daf92b;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 3%;

  &__title {
    padding-bottom: 4%;
  }

  &__container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;

    &__item {
      display: flex;
      flex-direction: column;
      width: 80%;

      &__title {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 161%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #ffffff;
        background: #002c89;
        border: 3px solid #002c89;
        box-sizing: border-box;
        border-radius: 12px 0px 0px 0px;

        height: 150px;
        padding: 5%;
        text-align: left;
      }

      &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.8;
        text-align: left;
        border-left: 3px solid #002c89;
        border-bottom: 3px solid #002c89;
        box-sizing: border-box;
        border-radius: 0px 0px 0px 12px;
        padding: 8%;
        height: 70%;
      }
    }
  }
}

#exquisite-right-title {
  border-radius: 0px 12px 0px 0px;
}

#exquisite-right-text {
  border-right: 3px solid #002c89;
  border-radius: 0 0 12px 0;
}

.certified {
  text-align: center;

  &__title {
    padding-top: 7%;
    margin: 0 30%;
    padding-bottom: 2%;
  }

  &__description {
    margin: 0 15%;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.7;
    padding-bottom: 3%;
  }

  &__subTitle {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #21455f;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
  }

  &__container {
    padding-top: 3%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;

    &__text {
      width: 40%;
      padding: 2% 3%;
      background: #002c89;
      border-radius: 8px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 136%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #ffffff;
    }

    &__or {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 140%;
      color: #21455f;
      padding: 70px 0;
    }
  }

  &__btn {
    margin-top: 2%;
    margin-bottom: 10%;
    background: #002c89;
    border-radius: 4px;
    padding: 2% 3%;

    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    color: #ffffff;
  }
}

#subTitle__description {
  margin: 0 25%;
}

.contact {
  padding-left: 10%;
  background-color: #00094c;

  &__title {
    padding-top: 10%;
    padding-bottom: 3%;
  }

  &__description {
    margin-right: 50%;
    padding-bottom: 5%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__container {
    display: flex;
    flex-direction: column;

    padding-bottom: 15%;

    &__item {
      display: flex;

      &__img {
        margin-right: 2%;
        margin-bottom: 2%;
        width: 5%;
        padding: 3%;
        background-color: white;
        border-radius: 4px;
      }

      &__flex {
        display: flex;
        flex-direction: column;
        padding: 45px 0;

        &__span {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 142%;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
        &__link {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 128%;
          letter-spacing: 0.02em;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

#contact__title {
  color: #ffffff;
}
