body,
html {
  height: 100%;
}

/*=============
    HEADER  
=============*/
header {
  background-image: url("/FinalFiles/Assets/Backgounds/BG.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 7%;
  margin-top: 8%;
  width: 43%;
}

.main__join-this {
  color: #ffffff;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.main__title {
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 400%;
  line-height: 118%;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  margin-top: 4%;
  margin-bottom: 4%;
}

.main__span {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 120%;
  line-height: 178%;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.7;
}

.main__button {
  background: #ffffff;
  border-radius: 4px;
  padding: 10px 28px;
  color: #002c89;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 110%;
  line-height: 32px;
  margin-top: 12%;
  width: 30%;
}

.main__img {
  height: 90%;
  margin-top: 3%;
}

.masterclass-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10%;
}

.masterclass-container__left {
  width: 43%;
  margin-top: 5%;
  margin-left: 7%;
  padding-right: 5%;
  border-right: solid 3px #e1e1e1;
}

.masterclass-container__left__title {
  width: 100%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #21455f;
}

.masterclass-container__left__text {
  margin-top: 5%;
  width: 70%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 178%;
  letter-spacing: 0.02em;
  color: #32363e;
  opacity: 0.7;
}

.masterclass-container__left__icon-container {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.masterclass-container__left__icon-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14vw;
  margin: 3vh 3vh 3vh 0;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.masterclass-container__left__icon-container__item span {
  margin-left: 5%;
}

.masterclass-container__right {
  margin-right: 10%;
  width: 50%;
}

.masterclass-container__right__text {
  margin-left: 15%;
  margin-top: 25%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 105%;
  line-height: 157.5%;
  letter-spacing: -0.015em;
  color: #292d32;
}

.masterclass-container__right__accomodation-check {
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.masterclass-container__right__accomodation-check__green-check {
  height: 1.5vw;
  margin-top: auto;
  margin-bottom: auto;
}

.masterclass-container__right__accomodation-check__span {
  margin-left: 2%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 110%;
  line-height: 157.5%;
  letter-spacing: -0.015em;
  color: #32363e;
}

.masterclass-container__right__button {
  margin-left: 15%;
  margin-top: 10%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #002c89;
  padding: 10px 28px;
  border-radius: 4px;
}

.become-container {
  background-color: #66daf92b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.become-container__description {
  margin-left: 7%;
  width: 43%;
}

.become-container__description__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #21455f;
  margin-top: 12%;
  margin-bottom: 4%;
}

.become-container__description__rule {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 157.5%;
  letter-spacing: -0.015em;
  color: #000000;
}

.become-container__description__text {
  margin-top: 3%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.7;
}

.become-container__img {
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
}

.bootcamp-container {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bootcamp-container__description {
  margin-left: 15%;
  margin-right: 10%;
}

.bootcamp-container__description__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #21455f;
  padding-right: 25%;
  margin-bottom: 5%;
}

.bootcamp-container__description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bootcamp-container__description__item__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 156%;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.7;
  margin: 2% 3%;
}
/*# sourceMappingURL=style.css.map */